@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/*--------
 header
 --------- */
.banner {
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
     margin-bottom: 70px; 
}
.container{
   

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    }

.menu-item{
    width: 70%;
    display: flex;
    justify-content: space-between;

    padding: 20px;
    margin-bottom: 67px;
    
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    margin-right: 15px;
    padding-left: 5px;
}

.login {
    width: 123px;
    height: 44px;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.fa-sign-in-alt {
    width: 24px;
    height: 24px;
    margin: 8px 0;
}
.banner-item{
    display: flex;
    justify-content: center;
    margin-left: 6%;
}
.banner-left-text h1{
    font-size: 64px;
    color: white;
    line-height: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
}
#right-banner-img{
    margin-left: 0;

}
.button-link {
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: white;
    border: none;
    text-decoration: none;
    padding: 7px;
    transform: rotate(15deg);
    transition: 2s;
}
.button-link:hover{
    background-color: tomato;
    padding: 20px;
   
    
}
.fas {
    width: 24px;
    
}
/* header end */

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* players  */

.players-container, .highlight {
    width: 70%;
   
    padding: 30px;

}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 27px;
}

.player {
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player .player-banner img{
    
width: 300px;
    
height: 256px;
    
margin: 16px 16px 0px 16px;
    }

.player-detail {
    height: 154px;
    width: 300px;
    margin: 15px;
}

.player-name{
    margin-top: 0px;
}
.player-description{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}
.half-width{
    width: 40%;
    
   
}

.half-width img {
    width: 567px;
    height: 427px;
    margin-left: 40%;
}

.highlight{
    display: flex;
    margin-top: 165px;
    margin-bottom: 100px;
}
.highlights-text {
    width: 30%;
    
    
}
.highlights-text h1{
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
    line-height: 60px;
    margin-bottom: 8px;
}
/* album */
.albums{
    margin-top: 50px;
}
.albums h3{
    text-align: center;
}
.players-album{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 27px;
    margin-right: 60px;
}
.album{
    width: 280px;
    height: 234px;
}

.album img{
        
width: 300px;
    
height: 256px;
    
margin: 16px 16px 0px 16px;
}

/* sponser */

.official-sponser {
    text-align: center;
}

.sponser-icon img {
    margin-left: 15px;
}

.sponser-icon {
    margin-top: 50px;
}


/* footer  */
.footer-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 146px;
}

.footer-logo img {
    width: 483px;
    height: 110px;
    
}
.fab {
    padding: 14px;
}

/* media query */
@media only screen and (max-width:823px) {
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 27px;
    }
    .banner {
        width: 450px;
        height: 695px;
        background-color: #2D25A0;
        margin-bottom: 70px;
    }

    .menu-item {
        visibility: hidden;
        margin: 0;
    }



    .banner-item, .highlight{
        display: grid;
        justify-content: center;
        margin-left: 6%;
      
    }
    
    .banner-left-text h1{
        font-size: 36px;
        color: white;
        line-height: 50px;
     
    }
    .half-width img {
        width: 329px;
        height: 259.17px;
        margin-left: 16px;
        margin-top: 50px;
    }
    .highlights-text {
        width: 329px;
        height: 381px;
        margin-left: 15px;
    }
    .highlights-text h1{
        font-size: 48px;
        font-weight: 700;
        color: #0A0826;
        line-height: 60px;
        margin-bottom: 8px;
    }
    .players-album{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 27px;
    }

    .sponser-icon {
        margin-top: 50px;
        display: grid;
        grid-row-gap: 30px;
    }

    .footer-logo img {
        width: 125.8px;
        height: 29.98px;
    }


    
}